<div class='home__container'>
    <div class='home__text'>
        <h1>Simple application that logs and registers users that are stored in
            a mongodb database.</h1>
        <h2>
            The users tab shows the real-time users registered in json format,
            for easier reading, use a json formatter extension that formats the
            information correctly</h2>

    </div>
    <div class='home__links'>
        <div class='home__link'>
            <a href='/login'>Got to login</a>
        </div>
        <div class='home__link'>
            <a href='/register'>Go to register</a>
        </div>
        <div class='home__link'>
            <a href='/all'>Go to Users</a>
        </div>
    </div>
</div>