<div class='auth__container'>
    <form id='loginForm'>
        <h1 class='auth__title'>Sign In</h1>

        <div class='auth__error' id='mensajeError'></div>

        <div class='auth__input-container'>
            <input type='text' id='email' name='email' required />
            <label for='email'>Email</label>
        </div>

        <div class='auth__input-container'>
            <input type='password' id='password' name='password' required />
            <label for='password'>Password</label>
        </div>

        <div class='auth__input-container'>
            <button class='auth__btn'>Login</button>
        </div>
    </form>
    <a href='/register'>Not have an account? go to register</a>
</div>
<script src='js/login.js'></script>