<div class='user__container'>
    <div class='user__title'>
        <p>Welcome, </p>
        <p id='userName'></p>
        👽
    </div>
    <p class='user_subtitle'>You have successfully logged in! 💯</p>
    <p class='user_subtitle2'>Now, you can go to Users tab to see all users
        registered in the db.</p>

</div>
<script src='js/verify.js'></script>